<footer>
  <div class="more-vids">
    <a href="https://www.youtube.com/results?search_query=melachild"><p>More vids</p></a>
  </div>
  <div class="created">
    <p>Created by:Chinenye Anyadi</p>
  </div>
</footer>
