<%# <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<p>esvfgesvfghaevdfv</p>
  </body>
</html> %>


<h1><%= @videos[:title]%></h1>
<body>
  <iframe src="https://www.youtube.com/embed/<%=@videos[:link]%>" width="700" height="600"></iframe>
</body>
<p><%= @videos[:body]%></p>
