<%# <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<p>esvfgesvfghaevdfv</p>
  </body>
</html> %>

<h1><%= @videos[:title]%></h1>
  <p><%= @videos[:body]%></p>
